/*global styles*/


@import "nullstyle.scss";
html {
    scroll-behavior: smooth;
}

.custom-font {
    font-family: Roboto, Arial, sans-serif;
}

body{
    font-size: 16px;
    font-family: Lora;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
}

section {
    margin: 5rem 0;
}

@media screen and (max-width: 992px) {
    section {
        margin: 2rem auto;
        width: 90%;
    }
}

.btn:active {
    scale: 90%;
}

:root {
    --color-text: #0f0f0f;
    --color-bg: #efefef;
    --color-navlink: #ccc;
    --color-navlink-hover: #efefef;
}
.conteiner {
    display: inline-block;
    width: 500px;
    background-color: bisque;
}

.conteinerNav {
    display: inline-block;
    text-align: center;
}
.conteinerNav>img {
    width: 60px;
}
/*Navigation*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    background-color: var(#a80da6);
    color: var(--color-text);

    padding: 1rem;
}

nav > .brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--color-bg);
    font-size: xx-large;
    font-weight: bold;
}

nav >.items-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav >.items-wrapper >.navi_link {
    display: flex;
    align-items: center;
    gap:1rem;
}

nav >.items-wrapper >.navi_link .navlink {
    color: var(--color-navlink);
}