/*global styles*/


@import "nullstyle.scss";
html {
    scroll-behavior: smooth;
}

.custom-font {
    font-family: Roboto, Arial, sans-serif;
}

body{
    font-size: 16px;
    font-family: Lora;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
}

section {
    margin: 5rem 0;
}

@media screen and (max-width: 992px) {
    section {
        margin: 2rem auto;
        width: 90%;
    }
}

.btn:active {
    scale: 90%;
}

.foot_info {
    background-color:rgb(255, 128, 0);
    width: 300px;
    height: 180px;
    text-align: left;
    color: #331a00;
    font-size: 18px; 
    font-weight: 300; 
    display: inline-table; 
}

a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid;
    border-bottom-color: rgb(0, 0, 0);
}

.telega {
    margin: 10px;
}

.facebook {
    margin: 10px;
}

input {
    border: 2px solid black;
    height: 23px  
}
.enter_email {
    background-color:rgb(0, 0, 0);  
    color: #ffffff;
    font-size: 18px;
    border: 2px solid black;
}

form {
    background-color:rgb(255, 128, 0);
    border: 1px solid black;
}

#bot {
    background-color:rgb(0, 0, 0);  
    color: #ffffff;
    width: 100px
}

.get_course {
    color: #000000;
    font-size: 18px; 
    font-weight: 400;
}

option {
    background-color: #000000;
    color: #ffffff;
}
/*Navigation*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    color: var(--color-bg);
    background-color: #929292;
    box-shadow: 0 0 0.5rem black;
}

nav > .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-bg);
    font-size: xx-large;
    font-weight: bold;
}

.comms {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 600px;
    height:300px;
    border: 5px solid black;
}

.puppy {
    background-color: rgb(255, 128, 0);
    color: rgb(0, 0, 0);
    width: 550px;
    height:50px;
    border: 2px solid black;
    margin: 20px
}

h1.comms {
    text-align: center;
}

.id_course {
    background-color: rgb(255, 128, 0);
    color: rgb(0, 0, 0);
    width:500px;
    height:100px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.id_list {
    background-color: rgb(255, 128, 0);
    color: rgb(0, 0, 0);
    width:300px;
    height: auto;
    font-weight: 400;
    display: inline-flexbox; 
    border: 1px solid black;
}

.begin {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 30px;
}

.advant {
    background-color: rgb(255, 128, 0);
    color: rgb(0, 0, 0);
    line-height: 2em;
    width:300px;
    height:auto;
    font-weight: 300;
    font-size: 15px;
}

.image_pos {
    border: 5px solid rgb(239, 129, 19);
    display: flex;
    width:500px;
    height:auto;
}
  
nav >.items-wrapper >.navi_link .navlink {
    display: flex;
    align-items: center;
    gap:1rem;
}

nav >.items-wrapper >.navi_link .navlink {
    color: var(--color-navlink);
    transition: .25s;
}

#navToggle {
    display: none;
}

nav > .items-wrapper.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    #navToggle {
        display: inline;
        font-size: xx-large;
    }   
}

nav > .items-wrapper {
    position: fixed;
    top: 10.75rem;

    background-color: #ffffff;
    color: #3b3b3b;

    padding: 2rem;
    transition: 250ms;
    flex-direction: column;
}
